/*
 * Globals
 */

/* Links */
a,
a:hover,
a:visited{
  color: rgb(176, 176, 176);
}

a:focus {
  background-color: transparent;
}

/* Custom default button */
.btn-default,
.btn-default:hover,{
  color: white;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  width: 100%;
  background-color: white;
  align:center;
  margin: 0 ;
  padding: 0;
}

body {
  color: rgb(70, 70, 70);
  text-align: center;
  /*text-shadow: 0 1px 3px rgba(0,0,0,.5);*/
  margin:0px;
  font-family: 'Open Sans Condensed', sans-serif;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  min-width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  overflow-x: visible;
  -kit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
  margin-top:20%;
}

/* Padding for spacing */
.inner {
  /*padding: 30px;*/
}


/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus{
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  background-color: transparent;
  color: white;
  border-bottom-color: #fff;
}

.site-wrapper > .sidebar > li:focus {
  background-color: transparent;
}

.dropdown li:hover {
  background-color: transparent;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0;
  font-family: 'Poiret One', cursive;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}

.cover-heading {
  color:white;
  font-size: 70px;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  width:auto;
}

.inner-cover {
  font-size: 70px;
}

.scroll-top-wrapper {
  position: fixed;
	opacity: 0;
	visibility: hidden;
	overflow: hidden;
	text-align: center;
	z-index: 99999999;
  background-color: #777777;
	color: #eeeeee;
	width: 50px;
	height: 48px;
	line-height: 48px;
	right: 0px;
	bottom: 0px;
	padding-top: 2px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.scroll-top-wrapper:hover {
	background-color: #888888;
}
.scroll-top-wrapper.show {
  visibility:visible;
  cursor:pointer;
	opacity: 1.0;
}
.scroll-top-wrapper i {
	line-height: inherit;
  height: 30px;
  width: 30px;
}

/*
 * Footer
 */

.mastfoot {
  position:relative;
  bottom:0;
  float:center;
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
  width:100%;
}

/* Navbar */
.sidebar .nav .dropdown {
  font-size:15px;
  position:fixed;
  margin-top:auto;
  width:140px;
  right:0px;
  text-align:left;
  text-shadow:1px black;
  background-color: transparent;
  z-index:999;
  -webkit-transition: all .25s ease;
   -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
     -o-transition: all .25s ease;
        transition: all .25s ease;
}

.dropdown-menu {
  /*opacity:0;*/
  background-color: rgba(255, 255, 255, 0.6);
  top:50px;
  z-index:999;
}

.glyphicon-menu-hamburger {
  position:fixed;
  font-size:30px;
  right:0px;
  top:0px;
  z-index:100;
  background-color: black;
  border:1px solid white;
  padding:10px;
}

.glyphicon-menu-hamburger:active {
  color:white;
}

.dropdown a:hover ul {
  opacity:1;
}

.sidebar > .nav > li > a:hover:after {
  background-color: transparent;
}

.sidebar > li > .divider {
  width:10px;
}

.dropdown-menu li:hover {
  background-color:pink;
   -webkit-transition: all 0.2s;
}
.dropdown-menu li a { -webkit-transition: all 0.5s; }
.dropdown-menu li ul { -webkit-transition: all 1s; }
.dropdown-menu li ul li { -webkit-transition: height 0.5s; }

/*nav ul li {
    display:  block;
    float: left;
}
nav ul ul {
    display: none;
}
nav ul li:hover > ul {
    display: block;
    position: absolute;
    margin-left: -30px;
}
nav ul ul li {
    display: block;
    float: none;
}*/

/*nav li ul {
  -webkit-transition: all .25s ease;
   -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
     -o-transition: all .25s ease;
        transition: all .25s ease;
}*/

#dLabel {
  background-color: transparent;
  position:fixed;
  right:30px;
  top:30px;
  width:1px;
  height:1px;
}

/* PACE LOADING BAR CODE */
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: white;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}

/* Thin out the marketing headings */
.featurette-heading {
  font-family: 'Poiret One', cursive;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
  color:grey;
  position:relative;
}

.featurette-divider {
  color:gold;
  width:100%;
}

.work-overview .featurette-heading {
  color:inherit;
  font-weight: bold;
}

.work-overview p {
  font-size:20px;
}

.workicon .glyphicon {
  font-size:70px;
  color:rgb(55, 55, 55);
  padding:30px;
}

.about {
  /*background-color: rgb(157, 198, 205);*/
  padding:100px;
}

.lead {
  font-size:20px;
}

.col-md-5 .featurette-image {
  display:inline-block;
  height: 200px;
  width: 200px;
  border-radius: 100%;
  margin-top:auto;
  margin-bottom:auto;
}

.web {
  background-color:white;
  padding-top:100px;
  padding-bottom:100px;
  /*color:white;*/
}

.web a {
  color: rgba(104, 118, 119, 0.76);
}

.web .col-md-5 .featurette-image {
  height:120px;
  width:120px;
  padding:10px;
}

.weblinks {
  text-align:center;
}

.text-muted {
  font-size:20px;
  margin-left:10px;
  color:rgb(159, 159, 159);
  text-shadow:10px black;
}

.web .glyphicon-cutlery {
  height:50px;
  width:50px;
  font-size:30px;
  color:rgb(43, 41, 41);
  border-radius:100%;
  padding:10px;
}

.contact {
  /*background-color:rgb(157, 198, 205);*/
  padding:100px;
  text-align:left;
}

/*.contact h2 {
  padding-left:20%;
}*/

.form {
  margin-right: 10%;
  font-size:30px;
  float:center;
  /*color:white;*/
  font-size:20px;

  -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
   -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
        box-sizing: border-box;
}

.form .input {
  color:grey;
}

.msg {
  vertical-align: top;
  height:100px;
  size:30;
}

/*
 * Affix and center
 */

@media (min-width: 768px) {

  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: absolute;
    bottom: 0;
  }
  .glyphicon-menu-hamburger {
    right:50px;
    top:50px;
  }

  .scroll-top-wrapper {
    right: 50px;
    bottom: 50px;
  }
  .sidebar .nav .dropdown {
    right:70px;
    top:50px;
  }

  /* Start the vertical centering */
  .site-wrapper {
    vertical-align: middle;
}
  }
.site-wrapper {
    background-image: url(../images/bg4.jpeg);
    background-size:100% 100%;
}
}
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 90%; /* Must be percentage or pixels for horizontal alignment */
    vertical-align: middle;
  }
  .featurette {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .contact .form {
    text-align: right;
  }

  .contact h2 {
    text-align:center;
  }

}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    position:absolute;
    width: 90%;
  }
  .web1 {
    display:inline;
    position:absolute;
    top:0;
    left:0;
  }
  .weblinks {
    text-align:left;
  }

}

 /*FOR DEBUGGING PURPOSES*/
/** {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
}*/
